.box {width:350px; margin:100px auto 0;
    display:flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: center;
    background: #f7f9fa;
    border: 1px solid #eee;
    padding: 10px 0;
}
.box .info {}
.box .info p {font-size:0.7rem;}
.box .a {width:315px; height:48px;
    text-align: center;
    background: #19ce60;
line-height: 48px;
margin: 10px 0;}
.box .a span {color:#fff; }
.box .btm {display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;}
.box .btm a {}
.box .btm a span {font-size:0.7rem;}
/* .box {
    width:350px; margin: 0 auto;
    display:flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background: #f7f9fa;
}
.box p {font-size:0.7rem;}
.box a {
    padding: 48px 315px;
    background: #19ce60;
}
.box a span {color:#fff;}
.box .btm {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.box .btm a {display: inline-block;} */