main,
.top,
section{border: 5px solid red;}

main {background-color:pink;
    width:850px;
    margin: 0 auto;
}
main .top {background-color:yellow;
height:100px; width:850px; padding-bottom:20px;}
main .top h1 {
    float:left;
    font-size:20px;
    line-height:100px;
}
main .top dl {
    float:right;
    line-height: 100;}
main .top dl dd {line-height:100px;}
main .top dl dd span {}
main .top dl dd em {}
main section {
    background-color:greenyellow;
    padding: 100px 25px;
}
main section h2 {
    font-size:17px;
    padding-bottom:100px;}
main section p {line-height:25px;}
main section p em {color:green;}
main section h2+p, main section p em {font-size:30px;}